.place__form {
    ::-webkit-input-placeholder { /* WebKit browsers */
         color: #000;
         font-weight: 500;
         font-size: 16px;
         border-color: #000;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color: #000;
         font-weight: 500;
         font-size: 16px;
         opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
         color: #000;
         font-weight: 500;
         font-size: 16px;
         opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
         color: #000;
         font-weight: 500;
         font-size: 16px;
    }
}