.page-home {
    section {
        padding: $gutter*2 0;
    }

    .place {
        padding: $gutter 0;
        display: flex;
        justify-content: center;
        background: $background-header-homepage;
        
        &__form__input {
            text-align: center;
            background: $background-header-homepage;
        }
    }

    .hero {
        text-align: center;
        background: $background-grey;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .primary-title {
            margin-bottom: $gutter;
        }

        &__subtitle {
            font-weight: 300;
            font-size: 19px;
        }

        .primary-button {
            margin-top: $gutter*2;
        }
    }

    .process {

        .primary-title {
            margin-bottom: $gutter*2;
        }

        &__cards {
            display: flex;
            flex-direction: column;
            row-gap: $inside-gap+12;
        }

        &__card {
            display: grid;
            grid-template-columns: 20% 60%;
            align-items: center;
            text-align: center;
            background: $background-grey;
            padding: $gutter+8;
            border-radius: 18px;
            @include main-shadow;

            &:hover{
                background: $background-process;
                color: $color-primary;
            }
        }

        &__card__p {
            font-weight: 500;
            display: inline;
        }
        
        &__card__number {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 6px;
            width: 24px;
            height: 24px;
            border-radius: 999px;
            background: $color-primary;
            color: $white;
        }

        &__card__i {
            color: rgb(109, 106, 106);
            font-size: 22px;
        }    
    }

    .restaurants {
        background: $background-grey;

        .primary-title {
            margin-bottom: $gutter;
        }
    }
}

