// COLORS PALETTE

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-header-homepage: #EAEAEA;
$background-grey: #F6F6F6;
$white: #fff;


// BREAKPOINTS

$breakpoints: (
    'sm': 280px,
    'md': 740px,
    'lg': 1024px,
);

// MARGIN & PADDING 

$gutter: 16px;

// GAP 

$inside-gap: 16px;

// FONT WEIGHT

$roboto-weight: (
    'thin': 100,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'bold': 700,
    'black': 900,
)