// COLORS PALETTE

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-header-homepage: #EAEAEA;
$background-grey: #F6F6F6;
$background-process: #f5edff;
$white: #fff;


// BREAKPOINTS

$breakpoints: (
    'xsm' : 100px,
    'sm': 320px,
    'md': 600px,
    'lg': 1023px,
    'xlg': 1441px,
);

// MARGIN & PADDING 

$gutter: 16px;

// GAP 

$inside-gap: 16px;

// CUBIC BEZIER

$easings: (
    ease-in: cubic-bezier(0.11, 0, 0.5, 0),
    ease-out: cubic-bezier(0.5, 1, 0.89, 1),
    ease-in-out: cubic-bezier(0.45, 0, 0.55, 1),
);