.page-container {
    padding: 0 32px;
    max-width: 1440px;
    margin: auto;
    @include font-primary;
    @include mobile-only {
        padding: $padding-mobile;
    };
    @include tablet-only {
        padding: $padding-tablet;
    };
}
